annotated-types
beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
et-xmlfile
fonttools
idna
kiwisolver
matplotlib
numpy
openpyxl
packaging
pandas
Pillow
psutil
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
requests
scipy
six
soupsieve
typing_extensions
tzdata
urllib3